
# Database Configuration
DB_DATABASE=TEST
DB_USERNAME=ADMIN
DB_PASSWORD=ARC430DCV
DB_HOST=lOCALhost

# Mail Configuration
MAIL_PORT=460
MAIL_HOST=smtp.example.com
Username=abc@gmail.com
Password=vdvdsvdsvsvdsvv
Admin=xyz@gmail.com



