<!DOCTYPE html>
<html lang="en">

<head>
    <title>Products</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/product-detail.css">
    <link rel="stylesheet" href="../css/responsive.css">
</head>

<body class="header">
    <!-- #Header start -->
    <header id="myHeader" class="header_section">
        <div class="mid_menu_header">
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <div class="header_logo">
                            <a href="index.html">
                                <img src="../images/logo.png" alt="Logo" /></a>
                        </div>
                    </div>
                    <div class="col-9 text-left menus">
                        <div class="header_navigation">
                            <div id="mySidenavs" class="sidenavs">
                                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                                <ul class="menu_navigation">
                                    <li class=""><a href="index.html">Home</a>
                                    </li>
                                    <li><a href="products.html" class="active">Products </a></li>
                                    <li><a href="../public/sign-in.html">sign-in</a></li>
									<li><a href="../public/sign-up.html">Sign-up</a></li>
                                </ul>
                                <div class="last-mains">
                                    <form action="#">
                                        <input type="text" name="" id="" placeholder="Search">
                                        <label for="">
                                            <img src="../images/Button.png" alt="">
                                        </label>
                                    </form>

                                </div>
                            </div>
                            <div class="icons">
                                <a href="" class="carts ">
                                    <img src="../images/cart.png" alt="" class="">
                                    <!-- <img src="../images/cart-w.png" alt="" class="mobile"> -->
                                </a>
                            </div>
                            <span class="toggle_menu" onclick="openNav()"><i class="fa fa-bars"></i></span>
                        </div>
                    </div>

                </div>
                </di v>
            </div>
    </header>
    <!-- #Header end -->


    <!-- Find the Fashion Dress -->
    <div class="popular asrtist">
        <div class="container">
            <div class="popular-inner">
                <h2>Products</h2>
                <div class="prodcut-wrapper">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="products-artist">
                                <div class="artist-inner-box">
                                    <img src="../images/Products-Artist.png" alt="">
                                    <div class="dress-in">
                                        <h4>Fashion Dress 1</h4>
                                        <p>Fusce bibendum, nibh sed, cons ectetur adipi scingeliras
                                            sod</p>
                                        <div class="artist-name">
                                            <div class="artist-img">
                                                <img src="../images/Ellipse.png" alt="">
                                                <p>By Artist Name</p>
                                            </div>
                                            <div class="star">
                                                <ul>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                </ul>
                                                <h3>$90.00</h3>
                                                <a href="product-detail.html">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="products-artist responsive-s">
                                <div class="artist-inner-box">
                                    <img src="../images/second.png" alt="">
                                    <div class="dress-in">
                                        <h4>Fashion Dress 1</h4>
                                        <p>Fusce bibendum, nibh sed, cons ectetur adipi scingeliras
                                            sod</p>
                                        <div class="artist-name">
                                            <div class="artist-img">
                                                <img src="../images/Ellipse.png" alt="">
                                                <p>By Artist Name</p>
                                            </div>
                                            <div class="star">
                                                <ul>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                </ul>
                                                <h3>$90.00</h3>
                                                <a href="product-detail.html">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="products-artist responsive-m">
                                <div class="artist-inner-box">
                                    <img src="../images/shop-list.png" alt="">
                                    <div class="dress-in">
                                        <h4>Fashion Dress 1</h4>
                                        <p>Fusce bibendum, nibh sed, cons ectetur adipi scingeliras
                                            sod</p>
                                        <div class="artist-name">
                                            <div class="artist-img">
                                                <img src="../images/Ellipse.png" alt="">
                                                <p>By Artist Name</p>
                                            </div>
                                            <div class="star">
                                                <ul>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                </ul>
                                                <h3>$90.00</h3>
                                                <a href="product-detail.html">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="products-artist responsive-m">
                                <div class="artist-inner-box">
                                    <img src="../images/shop-list-img.png" alt="">
                                    <div class="dress-in">
                                        <h4>Fashion Dress 1</h4>
                                        <p>Fusce bibendum, nibh sed, cons ectetur adipi scingeliras
                                            sod</p>
                                        <div class="artist-name">
                                            <div class="artist-img">
                                                <img src="../images/Ellipse.png" alt="">
                                                <p>By Artist Name</p>
                                            </div>
                                            <div class="star">
                                                <ul>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                </ul>
                                                <h3>$90.00</h3>
                                                <a href="product-detail.html">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="prodcut-wrapper">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="products-artist">
                                <div class="artist-inner-box">
                                    <img src="../images/Products-Artist.png" alt="">
                                    <div class="dress-in">
                                        <h4>Fashion Dress 1</h4>
                                        <p>Fusce bibendum, nibh sed, cons ectetur adipi scingeliras
                                            sod</p>
                                        <div class="artist-name">
                                            <div class="artist-img">
                                                <img src="../images/Ellipse.png" alt="">
                                                <p>By Artist Name</p>
                                            </div>
                                            <div class="star">
                                                <ul>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                </ul>
                                                <h3>$90.00</h3>
                                                <a href="product-detail.html">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="products-artist responsive-s">
                                <div class="artist-inner-box">
                                    <img src="../images/second.png" alt="">
                                    <div class="dress-in">
                                        <h4>Fashion Dress 1</h4>
                                        <p>Fusce bibendum, nibh sed, cons ectetur adipi scingeliras
                                            sod</p>
                                        <div class="artist-name">
                                            <div class="artist-img">
                                                <img src="../images/Ellipse.png" alt="">
                                                <p>By Artist Name</p>
                                            </div>
                                            <div class="star">
                                                <ul>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                </ul>
                                                <h3>$90.00</h3>
                                                <a href="product-detail.html">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="products-artist responsive-m">
                                <div class="artist-inner-box">
                                    <img src="../images/shop-list.png" alt="">
                                    <div class="dress-in">
                                        <h4>Fashion Dress 1</h4>
                                        <p>Fusce bibendum, nibh sed, cons ectetur adipi scingeliras
                                            sod</p>
                                        <div class="artist-name">
                                            <div class="artist-img">
                                                <img src="../images/Ellipse.png" alt="">
                                                <p>By Artist Name</p>
                                            </div>
                                            <div class="star">
                                                <ul>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                </ul>
                                                <h3>$90.00</h3>
                                                <a href="product-detail.html">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="products-artist responsive-m">
                                <div class="artist-inner-box">
                                    <img src="../images/shop-list-img.png" alt="">
                                    <div class="dress-in">
                                        <h4>Fashion Dress 1</h4>
                                        <p>Fusce bibendum, nibh sed, cons ectetur adipi scingeliras
                                            sod</p>
                                        <div class="artist-name">
                                            <div class="artist-img">
                                                <img src="../images/Ellipse.png" alt="">
                                                <p>By Artist Name</p>
                                            </div>
                                            <div class="star">
                                                <ul>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                </ul>
                                                <h3>$90.00</h3>
                                                <a href="product-detail.html">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="prodcut-wrapper">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="products-artist">
                                <div class="artist-inner-box">
                                    <img src="../images/Products-Artist.png" alt="">
                                    <div class="dress-in">
                                        <h4>Fashion Dress 1</h4>
                                        <p>Fusce bibendum, nibh sed, cons ectetur adipi scingeliras
                                            sod</p>
                                        <div class="artist-name">
                                            <div class="artist-img">
                                                <img src="../images/Ellipse.png" alt="">
                                                <p>By Artist Name</p>
                                            </div>
                                            <div class="star">
                                                <ul>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                </ul>
                                                <h3>$90.00</h3>
                                                <a href="product-detail.html">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="products-artist responsive-s">
                                <div class="artist-inner-box">
                                    <img src="../images/second.png" alt="">
                                    <div class="dress-in">
                                        <h4>Fashion Dress 1</h4>
                                        <p>Fusce bibendum, nibh sed, cons ectetur adipi scingeliras
                                            sod</p>
                                        <div class="artist-name">
                                            <div class="artist-img">
                                                <img src="../images/Ellipse.png" alt="">
                                                <p>By Artist Name</p>
                                            </div>
                                            <div class="star">
                                                <ul>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                </ul>
                                                <h3>$90.00</h3>
                                                <a href="product-detail.html">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="products-artist responsive-m">
                                <div class="artist-inner-box">
                                    <img src="../images/shop-list.png" alt="">
                                    <div class="dress-in">
                                        <h4>Fashion Dress 1</h4>
                                        <p>Fusce bibendum, nibh sed, cons ectetur adipi scingeliras
                                            sod</p>
                                        <div class="artist-name">
                                            <div class="artist-img">
                                                <img src="../images/Ellipse.png" alt="">
                                                <p>By Artist Name</p>
                                            </div>
                                            <div class="star">
                                                <ul>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                </ul>
                                                <h3>$90.00</h3>
                                                <a href="product-detail.html">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="products-artist responsive-m">
                                <div class="artist-inner-box">
                                    <img src="../images/shop-list-img.png" alt="">
                                    <div class="dress-in">
                                        <h4>Fashion Dress 1</h4>
                                        <p>Fusce bibendum, nibh sed, cons ectetur adipi scingeliras
                                            sod</p>
                                        <div class="artist-name">
                                            <div class="artist-img">
                                                <img src="../images/Ellipse.png" alt="">
                                                <p>By Artist Name</p>
                                            </div>
                                            <div class="star">
                                                <ul>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                    <li><i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                </ul>
                                                <h3>$90.00</h3>
                                                <a href="product-detail.html">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Popular Artist -->

    <!-- Footer section -->
    <footer>
		<div class="container">
			<div class="footer-inner">
				<div class="row">
					<div class="col-lg-3">
						<div class="footer-logo">
							<a href="index.html">
								<img src="../images/footer-logo.png" alt="footer-logo">
							</a>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
							<div class="footer-icon">
								<p>Follow us:</p>
								<ul>
									<li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i>
										</a></li>
									<li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i>
										</a></li>
									<li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i>
										</a></li>
									<li><a href=""><img src="../images/p.png" alt="">
										</a></li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="col-lg-2">
						<div class="footr-links">
							<h6>Customer Service</h6>
							<ul>
								<li class=""><a href="index.html" class="active">Home</a>
								</li>
								<li><a href="products.html">Products </a></li>
								<li><a href="artist-profile.html">Artist-Profile</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="footr-links">
							<h6>Contact info</h6>
							<p>Schweizer Skischu <br>
								Hühnerhubelstrasse 95 CH-3123
								Belp</p>
							<ul>
								<li><a href="tel: +41 31 820 41 12">Tel. +41 31 820 41 12</a></li>
								<li><a href="mailto: drees@example.com">drees@example.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="subscribe">
							<h4>Subscribe</h4>
							<p>Subscribe to e-mail &
								and get 10%* discount</p>
							<form action="">
								<input type="text" placeholder="Email">
								<button type="submit">Submit</button>
							</form>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="copyright">
			<p>© 2023 Copyright</p>
		</div>
	</footer>
    <!-- Footer section -->


    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $('.slider').owlCarousel({
            loop: true,
            margin: 40,
            dots: false,
            autoplay: true,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: true
                },
                600: {
                    items: 3,
                    nav: false
                },
                600: {
                    items: 3,
                    nav: false
                },
                1000: {
                    items: 5,
                    nav: true,
                    loop: true
                }
            }
        })
    </script>
    <script>
        $('.slider2').owlCarousel({
            loop: false,
            margin: 30,
            dots: false,
            autoplay: false,
            responsiveClass: false,
            responsive: {
                0: {
                    items: 1,
                    nav: true
                },
                600: {
                    items: 2,
                    nav: false
                },
                1000: {
                    items: 4,
                    nav: true,
                    loop: true
                }
            }
        })
    </script>
    <script>
        function openNav() {
            document.getElementById("mySidenavs").style.width = "280px";
        }

        function closeNav() {
            document.getElementById("mySidenavs").style.width = "0";
        }
    </script>

</body>

</html>